*{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

ul,ol{
	list-style: none;
}

body{
	font-family: 'Cormorant Upright', serif;
	background-color: #363F48;
}

.first-title{
	color: #CD6E2E;
	margin-left: 10px;
}

.slideshow{
	width: 100%;
	position: relative;
}

.slider li, ul{
	width: 100%;
}

.slider li{
	overflow: hidden;
}

.slider li img{
	width: 30%;
	margin-left: 35%;
	margin-top: 10%;
}




.pagination{
	position: absolute;
	top: 102%;
	width: 100%;

	display: flex;
	justify-content: center;
}

.pagination li{
	font-size: 20px;
	margin: 2px 5px;
	color: #858585;
	cursor: pointer;
}

.left, .right{
	position: absolute;
	top: 0;
	height: 100%;

	display: flex;
	align-items: center;

	color: #CD6E2E;
	font-size: 35px;
	cursor: pointer;
	z-index: 2;
}

.left{
	left: 400px;
}

.right{
	right: 400px;
}


@media screen and (max-width: 600px){
t-size: 35px;
	

	.left, .right{
		font-size: 30px;
	}

	.slider li img{
		width: 600px;
	}

	.pagination{
		display: none;
	}
}